html,
body {
	height: 100%;
}
.d-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	&::after {
		content: '';
		display: table;
		clear: both;
	}
	.d-header {
		&.d-header-fixed {
			position: fixed;
		}
		position: absolute;
		top: 0;
		z-index: 99;
		height: 60px;
		line-height: 60px;
		background: #ffffff;
		min-width: 1280px;
		width: 100%;
		box-shadow: 0px 4px 6px 0px rgba(62, 62, 105, 0.1);
		.d-header-content {
			max-width: 1280px;
			margin: 0 auto;
			text-align: center;
		}
		.d-header-titile {
			font-size: 18px;
			font-family: PingFangSC-Medium, PingFang SC;
			font-weight: 500;
			color: #383838;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
		.d-logo {
			float: left;
			width: 160px;
			justify-content: flex-start;
			.d-logo-image {
				height: 36px;
				width: 36px;
			}
			.el-link--inner {
				display: flex;
				align-items: center;
				font-size: 16px;
				font-family: PingFangSC-Regular, PingFang SC;
			}
		}
	}
	.d-menu.el-menu {
		float: left;
	}

	.d-footer {
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 14px;
		font-family: PingFangSC-Regular, PingFang SC;
		color: #a9a9b5;
	}

	.d-beian-link {
		color: inherit;
		text-decoration: none;
	}

	.d-main {
		flex: 1;
		max-width: 1280px;
		min-width: 1280px;
		margin: 80px auto 10px;
	}

	.d-content {
		background: #ffffff;
		box-shadow: 0px 4px 6px 0px rgba(62, 62, 105, 0.1);
		border-radius: 4px;
		margin-left: 170px;
		height: 100%;
		overflow-x: hidden;
	}

	.fade-transform-leave-active,
	.fade-transform-enter-active {
		transition: all 0.15s;
	}

	.fade-transform-enter {
		opacity: 0;
		transform: translateX(-30px);
	}

	.fade-transform-leave-to {
		opacity: 0;
		transform: translateX(30px);
	}
}

.d-router-view {
	padding: 20px;
}
