.d-form {
	.el-date-editor {
		.el-input__prefix {
			left: inherit;
			right: 6px;
		}
		.el-range__icon {
			position: absolute;
			right: 6px;
		}
		.el-range-input {
			text-align: left;
		}
	}
	.d-time-picker {
		.el-date-editor {
			width: 100%;
		}
	}

	.el-input .el-input__inner {
		padding: 0 10px;
	}
	.el-form-item {
		margin-bottom: 10px;

		.el-form-item__content {
			line-height: 34px;
			> * {
				width: 100%;
			}
		}
		.el-form-item__label {
			line-height: 34px;
		}
	}

	.el-form-item__label {
		padding-right: 15px;
	}

	.d-form-footer {
		text-align: center;
		&--top {
			margin-top: 20px;
		}
	}

	.el-form-item__content {
		.el-form-item__error {
			position: static;
			margin-top: 6px;
		}
	}
}

.el-form--inline.d-form {
	display: flex;
	.d-time-picker {
		.el-date-editor {
			width: 180px;
		}
	}
	.el-input .el-input__inner {
		width: 180px;
	}
	.el-date-editor {
		&.el-range-editor {
			width: 370px;
		}
	}
	.d-form-footer .el-button {
		width: 55px;
		padding: 9px 0;
		&--primary {
			background-color: #3d3d69;
			border-color: #3d3d69;
		}
	}
}
.el-form--inline.d-form .flex-1 {
	flex: 1;
}

.d-time-picker {
	position: relative;
	&--value {
		position: absolute;
		top: 1px;
		right: 30px;
		bottom: 1px;
		left: 10px;
		z-index: 1;
		line-height: 32px;
		background: #fff;
	}
}
