.d-table {
	position: relative;
	.d-pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 15px;
	}
	.d-table-header th {
		background: #ebebf3;
		height: 40px;
		padding: 8px 0;
		font-size: 14px;
		font-family: PingFangSC-Medium, PingFang SC;
		color: rgba(0, 0, 0, 0.85);
	}
	.el-table td {
		position: relative;
		padding: 9px 0;
	}

	.el-table__fixed::before,
	.el-table__fixed-right::before {
		background-color: #dcdcee;
	}
}

body .el-table th.gutter {
	display: table-cell !important;
}

.d-table-checkbox-group {
	.el-checkbox {
		display: block;
		line-height: 34px;
	}
}
.d-table-operate-column .cell > .d-more-wrap {
	display: flex;
	align-items: center;
}
.d-table-more--inner,
.d-table-more::after,
.d-table-more::before {
	display: block;
	background: #999999;
	border-radius: 50%;
	height: 3px;
	width: 3px;
}
.d-table-more--inner {
	margin: 0 2px;
}
.d-table-more {
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 14px;
	padding-top: 2px;
	margin-left: 4px;
	&::before,
	&::after {
		content: '';
	}
	&:hover {
		&::before,
		&::after,
		.d-table-more--inner {
			background-color: #61c5c1;
		}
	}
}
.d-table-popover {
	padding: 10px;
	min-width: 100px;
	background: #ffffff;
	box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.15);
	border: 1px solid #d9d9d9;
	.d-link {
		display: block;
		line-height: 34px;
		color: #333333;
		padding: 0 10px;
		border-radius: 4px;
		margin: 0;
		&:hover {
			background-color: #f5f5f8;
		}
	}
}

.d-table-choose-icon {
	position: absolute;
	right: 10px;
	top: 11px;
	z-index: 10;
}

.d-table-empty {
	text-align: center;
	&--image {
		width: 200px;
		height: 200px;
		object-fit: cover;
		display: block;
		margin: 80px auto 0;
	}
	&--text {
		font-size: 14px;
		font-family: PingFangSC-Medium, PingFang SC;
		color: #999999;
		line-height: 22px;
		margin: 0;
	}
}

.d-grid-table-wrapper {
	margin: -10px;
}
.d-grid-table {
	border-spacing: 10px;
	border-collapse: inherit;
	border: none;
	width: 100%;
	table-layout: fixed;
}

.d-grid-table .d-grid-td {
	position: relative;
	border-radius: 4px;
	border: 1px solid #e5e5e5;
	height: 100%;
	padding: 10px;
	overflow: hidden;
}

.d-grid-table .d-grid-td:hover {
	cursor: pointer;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.d-cell-input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-shadow: 1px 1px 20px rgb(0 0 0 / 15%);
	.el-input__inner {
		display: block;
		border-radius: 0;
		width: 100%;
		height: 100%;
		line-height: inherit;
	}
}
