.sidebar.sidebar > .sidebar-links > li > a.sidebar-link{
    font-size: 1em;
    font-weight: 400
}

.docs-div-15{
    padding: 15px 0
}

.code-block{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    padding: 20px;
    margin-top: 15px
    border-radius: 3px
}

.page .theme-default-content h2,
.page .theme-default-content h3{
    font-weight: 400;
    color: #1f2f3d;
}

.page .theme-default-content h2{
    font-size: 28px
}

.page .theme-default-content h3{
    font-size: 22px    
}

h2{
    border-bottom: 0
}

table {
    border-collapse: collapse;
    margin: 0;
    display: table;
}
tr {
    border-top: none;
}
tr:nth-child(2n) {
    background-color: transparent;
}
th,
td {
    border: none;
}